* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FDFDF7;
    color: #12130C;
    font-family: "Myriad Pro", Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    background-color: #12130C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    position: fixed;
    top: 45px;
    width: 100%;
    z-index: 1000;
}

header .logo {
    height: 80px;
    padding: 5px;
    z-index: 1001;
    position: relative;
    left: 20px;
}

.search-form {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 89px;
    background: transparent;
    position: absolute;
    right: 20px;
}

.search-input {
    padding: 8px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    width: 180px;
    outline: none;
    background: transparent;
    color: #FDFDF7;
}

.search-input:focus {
    border: 2px solid #EE761B;
}

.search-button {
    padding: 8px 12px;
    background-color: #EE761B;
    color: #FDFDF7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-button i {
    font-size: 16px;
}

.search-button:hover {
    background-color: #ee761bd0;
}

nav {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 165px;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: #FDFDF7;
    padding: 10px 0;
    box-shadow: 0 4px 2px -2px gray;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav a {
    color: #FDFDF7;
    text-decoration: none;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #EE761B;
    display: flex;
    gap: 20px;
}

.menu li {
    padding: 10px 20px;
    color: #FDFDF7;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.menu li:hover {
    background-color: #12130C;
    transform: scale(1.05);
}


.estilo-clase {
    color: #12130C;
    padding: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.banner {
    width: 100%;
    margin-top: 120px; 
    margin-bottom: 40px;
}

.bannersuperior {
    background-color: #EE761B;
    color: #FDFDF7;
    font-family: "Myriad Pro", Arial, sans-serif;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    overflow: hidden;
    padding: 0;
}

.slider {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    animation: slide 30s linear infinite;
    white-space: nowrap;
}

.slider p {
    margin: 0;
    padding-right: 50px;
    background: transparent;
    color: #FDFDF7;
    font-family: Impact, sans-serif;
    line-height: 1.7;
    font-size: 16px;
}

@keyframes slide {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

p {
    color: #EE761B;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    align-items: center;
    height: 30px;
}

main, .contenido-principal {
    padding-top: 105px; 
}

h1 {
    margin-top: 135px;
    margin-left: 20px;
    color: #EE761B;
    text-align: left;
    z-index: 500;
    position: relative;
    padding: 10px 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 1.5;
}

.cajacontenedora {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
    margin: 10px auto;
    max-width: 1200px;
}

.slider-container {
    overflow: hidden;
    width: 100%;
    padding: 10px 0;
}

.slider-track {
    display: flex;
    gap: 16px;
}

.caja3 {
    flex: 0 0 auto;
    width: 290px;
    padding: 16px 12px;
    background-color: #FDFDF7;
    border-radius: 5px;
    box-shadow: 0 2px 5px #12130C;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 380px;
}


.caja3 img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 5px;
    margin-bottom: 8px;
    max-height: 220px;
    cursor: pointer;
}

.caja3 .info {
    margin-top: 5px;
    text-align: center;
}

.caja3 h2, .caja3 .precio {
    color: #12130C;
    font-size: 0.95rem;
    text-align: center;
    margin: 5px 0;
}

.modal-galeria {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #12130C;
    z-index: 9999;
    align-items: center;
    justify-content: center;
}

.cerrar-modal {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: #FDFDF7;
    cursor: pointer;
}

.slider-galeria {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 80%;
    max-width: 800px;
}

.contenedor-galeria {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.imagen-galeria {
    display: none;
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out;
}

.imagen-galeria.activa {
    display: block;
}

.btn-slider {
    background-color: transparent;
    border: none;
    color:#FDFDF7;
    font-size: 40px;
    cursor: pointer;
    padding: 10px;
}

.precio {
    font-family: "Myriad Pro", Arial, sans-serif;
    font-size: 1.2rem;
    color: #EE761B;
    font-weight: bold;
}

.btn-compra {
    padding: 12px 20px;
    background-color: #EE761B;
    color: #FDFDF7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 15px;
    transition: background-color 0.3s ease;
}

.btn-compra:hover {
    background-color:#ee761bd0;
}

.promo-seccion {
    background-color: #12130C;
    padding: 2rem;
    text-align: center;
}

.promo-seccion h2 {
    color: #EE761B;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.slider-wrapper {
    position: relative;
    overflow: hidden;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background-color: #12130C;
    color: #FDFDF7;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.carousel-btn:hover {
    background-color: #12130C
}

.product-prev {
    left: 10px;
}

.product-next {
    right: 10px;
}

.quienes-somos-contenido p {
    font-size: 1.2rem;
    max-width: 800px;
    margin: 1.5rem auto 5rem;
    text-align: justify;
    line-height: 1.8;
    padding: 0.5rem 1rem;
    color: #FDFDF7;
}

.prefooter {
    background-color: #FDFDF7; 
    padding: 50px 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 14px;
}

.prefooter h3 {
    margin-bottom: 10px;
    color: #EE761B;
}

.prefooter a {
    display: block;
    margin: 4px 0;
    color:#12130C;
    text-decoration: none;
}

.prefooter a:hover {
    text-decoration: underline; 
}

footer {
    background-color:#12130C;
    color: #FDFDF7;
    padding: 10px 0;
    text-align: center;
    margin-top: auto;
    line-height: 40px;
}

footer a {
    color: #FDFDF7;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.icono {
    display: none;
}

/* Celulares */
@media(max-width: 480px) {
    nav {
        display: none;
    }

    .icono { 
        display: block;
        color: #FDFDF7;
        font-size: 30px;
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1002;
    }

    .search-form {
        display: none;
    }

    .caja3 {
        width: 100%;
        margin-bottom: 20px;
        padding: 10px;
        display: block;
    }

    .cajacontenedora {
        display: block;
        gap: 10px;
    }

    .menu-icon {
        display: block;
    }

    .mostrar {
        display: block;
    }

    header .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    nav ul {
        display: block;
    }

    .menu {
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
    }
    
    
    h1 {
        margin-top: 65px; 
    }

    .cajacontenedora {
        margin-top: 10px;
    }
}

.novedades {
    padding: 60px 20px;
    text-align: center;
}

.novedades h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #EE761B;
    font-size: 2em;
}

.novedad {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 5s ease-in-out, transform 5s ease-in-out;
}

.novedad.visible {
    opacity: 1;
    transform: translateX(0);
}

.contenedor-cajas {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.caja {
    background-color: #FDFDF7;
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
    box-shadow: 0 4px 6px #12130C;
    transition: transform 0.3s;
}

.caja:hover {
    transform: translateY(-5px);
}

.caja img {
    width: 100%;
    height: auto;
    display: block;
}


.anuncio {
    width: 728px;
    height: 90px;
    border: none;
    display: block;
    margin: 60px auto;
    border-radius: 12px;
    overflow: hidden;    
    background-color: #FDFDF7;
    box-shadow: 0 4px 12px #12130C;
}

@media (max-width: 480px) {
    .anuncio {
        width: 300px;
        height: 600px;
    }
}

.modal-formulario {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100dvh;
    background-color: #12130C;
    justify-content: center;
    align-items: center;
}

.modal-contenido {
    background: #FDFDF7;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    padding: 20px;
    box-shadow: 0 0 20px #12130C;
    position: relative;
}

.modal-contenido iframe {
    width: 100%;
    height: 400px;
    border: none;
}

.cerrar {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    color: #12130C;
    cursor: pointer;
}

.cerrar:hover {
    color: #12130C
}

.user-button {
    background-color: #EE761B;
    color: #FDFDF7;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    margin-left: 10px;
    margin-right: 64px;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-button i {
    font-size: 16px;
}

.user-button:hover {
    background-color:#ee761bd0;
}

.cart-button {
    background-color: #EE761B;
    color: #FDFDF7;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    margin-left: 10px;
    margin-right: 15px;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transition: background-color 0.3s ease;
    right: 0
}

.cart-button i {
    font-size: 16px;
}

.cart-button .cart-count {
    position: absolute;
    top: -6px;
    right: -6px;
    background-color: #FDFDF7;
    color: #EE761B;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 0.75rem;
    font-weight: bold;
    pointer-events: none;
    user-select: none;
    border: 1.5px solid #EE761B;
}

.cart-button:hover {
    background-color: #ee761bd0;
}

.cart-modal {
    position: fixed;
    top: 70px;
    right: 20px;
    background: #FDFDF7;
    border: 2px solid #EE761B;
    border-radius: 10px;
    padding: 20px;
    z-index: 1000;
    width: 300px;
    box-shadow: 0 0 10px #12130C;
}

.cart-modal.hidden {
    display: none;
}

#cart-items {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

#cart-items li {
    margin-bottom: 10px;
    font-size: 0.9rem;
}

#cart-items {
    color: #12130C;
}

#pay-button {
    background-color: #EE761B; 
    color:#FDFDF7;
    border: none;
    padding: 10px 20px;
    margin: 20px auto; 
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    display: block;
    transition: background-color 0.3s ease;
}

#pay-button:hover {
    background-color: #EE761B;
}

.close-cart {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 22px;
    font-weight: bold;
    color: #12130C;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1001;
}

.carousel {
    width: 100vw; 
    margin-top: 120px;
    position: relative;
    overflow: hidden;
    padding: 0;
    z-index: 0;
    box-shadow: 0 4px 8px #12130C
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    transition: opacity 0.5s ease-in-out;
    display: none;
}

.slide.active {
    display: block;
}

.slide img {
    width: 100%;
    height: auto;
    display: block;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #12130C;
    color: #FDFDF7;
    border: none;
    font-size: 30px;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;
    transition: background-color 0.3s ease;
}

.carousel-btn:hover {
    background-color: #12130C;
}

.carousel-btn.prev {
    left: 15px;
}

.carousel-btn.next {
    right: 30px;
}

/* Responsive para celulares */
@media (max-width: 480px) {
.carousel-btn {
    font-size: 24px;
    padding: 8px 10px;
}

.carousel {
    margin: 100px auto 20px; 
    height: auto;
}

.slide img {
    width: 100%;
    height: auto;
    display: block;
}

@media (max-width: 768px) {
.prefooter {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 20px;
}

.prefooter .columna {
    margin-bottom: 30px;
}

.prefooter h3 {
    font-size: 18px;
}

.prefooter a {
    font-size: 15px;
}
}
}

